.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/
.pytest_cache/
.mypy_cache/
.cache/
*.sqlite3
*.db
media/exports/*
media/pdfs/*
media/fotos/*
media/notifications/*
media/firmas/*
media/2fa/*
frontend_visitas/build/
frontend_visitas/.dart_tool/
frontend_visitas/.packages
frontend_visitas/ios/Pods/
frontend_visitas/android/.gradle/
frontend_visitas/android/app/build/
**/*.log
app/templates/plantilla_historial_visitas_checklist.xlsx

